protobuf>=3.20.3,<5.0.0
chromadb

langchain
langchain-community
langchain-core
langchain-ollama
ollama
google-generativeai
docling
tqdm

transformers
sentence-transformers

rank-bm25

accelerate
bitsandbytes
beautifulsoup4
lxml
pandas
pyyaml
tqdm
typing-extensions
seaborn