langchain
langchain-community
langchain-core
langchain-ollama
docling
google-generativeai
tqdm
transformers
accelerate
bitsandbytes
beautifulsoup4
lxml
pandas
pyyaml
tqdm
typing-extensions
seaborn
llama-index-core
llama-index-readers-docling
llama-index-node-parser-docling
llama-index-llms-ollama
llama-index-vector-stores-milvus
llama-index-embeddings-huggingface
llama-index-readers-file
python-dotenv
chromadb